<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Todo Lists</title>
</head>
<body>
<div>
    <header>
        <h1>Todo List</h1>
        <a href="/todos/add">Add Todos</a>
        <span>|</span>
        <a href="/todos/delete_all">Delete All</a>
        <hr>
    </header>
</div>
