{% include 'partials/header.html' %}
<form action="{% url 'add' %}"method="post">
{% csrf_token %}
    <label for="title">Title</label><br />
    <input type="text" name="title" id="title" maxlength="200">
    <br><br>
    <label for="text">Text</label><br />
    <textarea name="text" id="text"></textarea>
    <br><br>
    <label for="value">Deadline (MM/DD/YYYY hh:mm):</label><br />
    <input type="datetime-local" name="value" id="value" value="2017-10-24T08:00">
    <br><br>
    <input type="submit" value="Submit" />
    <input type="reset" value="Reset">
</form>

<br>
<a href="/">Go Back</a>
{% include 'partials/footer.html' %}