{% include 'partials/header.html' %}
<form method="post">
    {% csrf_token %}
    <label for="title">Title</label><br/>
    <input type="text" name="title" id="title" value="{{todo.title}}" maxlength="200">
    <br>
    <label for="text">Text</label><br/>
    <textarea name="text" id="text">{{todo.text}}</textarea>
    <br><br>
    <label for="value">Deadline (MM/DD/YYYY hh:mm):</label><br />
    <input type="datetime-local" name="value" id="value" value="2017-10-24T08:00">
    <br><br>
    <input type="submit" value="Submit"/>
    <input type="reset" value="Reset">
</form>
<br>
<a href="/">Go Back</a>
{% include 'partials/footer.html' %}