{% include 'partials/header.html' %}
<a href="/todos"><< Go Back</a>
<br>
<h2><strong>{{todo.title}}</strong></h2>
<p>{{todo.text}}</p>
<br>
<strong>Deadline: {{deadline.value}}</strong>
<hr>
<br/>
Created at {{todo.created_at}} <br/>
<br><br>
Edited at {{todo.edited_at}}
{% include 'partials/footer.html' %}