{% include 'partials/header.html' %}

<ul>
    <table>
        <tbody>
        <tr>
            <th>Name</th>
            <th>Summary</th>
            <th>Created at</th>
            <th>Edited at</th>
            <th>Actions</th>
            <th>Deadlines</th>
        </tr>
        {% for todo in todos %}
        <tr>
            <td><a href="/todos/details/{{todo.id}}">{{todo.title}}</a></td>
            <td>{{todo.text}}</td>
            <td>{{todo.created_at}}</td>
            <td>{{todo.edited_at}}</td>
            <td>
                <a href="/todos/change/{{todo.id}}"><img src="/static/images/pencil.png" width="20" height="20"></a>
                <br />
                <a href="/todos/delete/{{todo.id}}"><img src="/static/images/delete.png" width="20" height="20"></a>
            </td>
            <td>
                <ul>
                    {% for deadline in deadlines %}
                        {% if todo.id == deadline.todo_id %}
                            <li>{{deadline.value}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</ul>

{% include 'partials/footer.html' %}
