a {
    color: green;
    display: inline-block;
    white-space: nowrap;
    width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
}
h1 {
    color: darkcyan;
    font-style: italic;
    text-align: center;
}
td {
    border: 0.5px dashed;
    width: 200px;
    padding: 8px;
}

th {
    border: 0.5px dashed;
    text-align: left;
    padding: 8px;
}
table {
    width: 100%;
    margin-left:auto;
    margin-right:auto;

}

div {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 20 px;
}

textarea {
    margin: 0px;
    width: 300px;
    padding: 1px;
}

 input#title {
    width: 300px;

 }
 input#value {
    width: 300px;
    padding: 0px;
 }

input[type="submit"], input[type="reset"] {
    width: 150px;
}

p {
    border: 2px ;
    width: 600px;
}

ul {
    padding:20px;
}